.dialog {
  max-width: 500px;
  max-height: 600px;
  padding: 0;
  background-color: rgb(255 255 255);
  border: none;

  & header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 24px 0 40px;
  }
}

.dialog-wrapper {
  padding: 1em;

  & button {
    font-weight: 500;
  }
}

.is-active {
  color: rgb(70 163 88);
}

.form-block {
  display: flex;
  flex-direction: column;
  padding: 0 50px;

  & h3 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #3d3d3d;
  }

  & form {
    display: flex;
    flex-direction: column;

    & input {
      width: 300px;
      height: 40px;
      padding: 10px 14px;
      margin-top: 14px;
      border: 1px solid rgb(234 234 234);
      border-radius: 5px;

      &::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: rgb(165 165 165);
      }

      &:focus {
        border: 1px solid rgb(70 163 88);
      }
    }

    & a {
      margin-top: 14px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      color: rgb(70 163 88);
      text-align: end;
    }

    & button {
      width: 300px;
      height: 45px;
      margin: 28px 0 46px;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      color: rgb(255 255 255);
      text-align: center;
      background: rgb(70 163 88);
      border-radius: 5px;
    }
  }

  & p {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;

    &::before,
    &::after {
      flex-grow: 1;
      height: 1px;
      margin: 0 10px;
      content: "";
      background-color: rgb(234 234 234 / 100%);
    }
  }
}
