.shopping-cart-section {
  display: flex;
  gap: 90px;

  & .grid-container {
    /* max-width: 782px; */

    & .grid-container-header {
      display: grid;
      grid-template-columns: repeat(5, auto);
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      border-bottom: solid 1px rgb(70 163 88 / 50%);
    }
  }
}

.empty-cart-block {
  padding: 32px 0;
  margin: 32px 0;
  text-align: center;
  background-color: rgb(251 251 251 / 100%);

  & h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(61 61 61);
  }

  & p {
    margin-top: 20px;
    text-align: center;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 240px;
    height: 40px;
    padding: 0 24px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(255 255 255);
    text-transform: uppercase;
    background-color: rgb(70 163 88 / 100%);
    border-radius: 6px;

    &:hover {
      background-color: rgb(50 143 68);
    }
  }
}
