.greeting-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 12px 0 26px;
  background: linear-gradient(97.77deg, rgb(245 245 245 / 50.2%) -23.46%, rgb(245 245 245 / 50%) 107.51%);
}

.button {
  padding: 10px 27px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  background-color: rgb(70 163 88 / 100%);
  border-radius: 6px;
}

.products-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;

  & h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(61 61 61);
  }

  & button {
    font-size: 15px;
    line-height: 40px;
    color: rgb(61 61 61);
    cursor: pointer;
  }

  & aside {
    padding: 14px 16px;
    background: rgb(251 251 251);
  }

  & article {
    & header {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      & ul {
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
      }
    }

    & .products-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 70px 40px;

      /* & article {
        height: 350px;
      }

      & h4 {
        margin-top: 12px;
        color: rgb(61 61 61);
      }

      & p {
        margin-top: 6px;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        color: rgb(70 163 88);
      } */
    }

    .pagination {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      justify-content: flex-start;
      justify-self: end;
      margin-top: 90px;

      & a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: solid 1px rgb(229 229 229);
        border-radius: 5px;

        &:hover {
          background: rgb(70 163 88 / 10%);
          border: solid 1px  rgb(70 163 88);
        }
      }

      & .page-is-active {
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        color: #fff;
        background: rgb(70 163 88);
        border-radius: 5px;
      }
    }
  }
}
