.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  & article {
    display: grid;
    row-gap: 12px;
  }

  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
}

.button {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  color: rgb(255 255 255);
  background-color: rgb(70 163 88 / 100%);
  border-radius: 6px;
}
