.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: solid 0.3px rgb(70 163 88 / 50%);

  & nav {
    & ul {
      display: flex;
      flex-flow: row nowrap;
      gap: 50px;
      align-items: center;

      & li {
        cursor: pointer;

        & :hover {
          border-bottom: solid 3px rgb(70 163 88 / 100%);
        }
      }
    }
  }
}

.right-bar {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: center;
}

.button {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;

  /* padding: 10px 27px; */
  color: rgb(255 255 255);
  background-color: rgb(70 163 88 / 100%);
  border-radius: 6px;
}
