.card {
  position: relative;

  &:hover {
    cursor: pointer;

    /* & img {
      overflow: hidden;
      scale: 1.1;
    } */

    & .button-container {
      display: flex;
      flex-direction: row;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      width: 100%;
      height: 1px;
      content: "";
      background-color: rgb(70 163 88);
    }
  }

  & .button-container {
    position: absolute;
    right: 0;
    bottom: 64px;
    left: 0;
    z-index: 100;
    display: none;
    flex-flow: row nowrap;
    gap: 10px;
    justify-self: center;

    & .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      background: rgb(255 255 255);
      border-radius: 4px;

      & svg {
        fill: rgb(61 61 61);
      }
    }

    & .button-active {
      background: rgb(70 163 88);

      & svg {
        fill: rgb(255 255 255);
      }
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & h4 {
    margin-top: 12px;
    color: rgb(61 61 61);
  }

  & p {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(70 163 88);
  }
}
