.blog-post-container {
  display: grid;
  grid-template-areas:
    "one one one"
    "one one one"
    "two four four"
    "three four four "
    "five five six"
    "five five seven";
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 900px;

  &.grid-block {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }

  &.grid-block::after {
    position: absolute;
    inset: 0;
    pointer-events: none; /* Позволяет взаимодействовать с элементами под псевдоэлементом */
    content: "";
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 70%, rgb(255 255 255 / 100%) 100%);
  }

  & .item1 {
    grid-area: one;
  }

  & .item2 {
    grid-area: two;
  }

  & .item3 {
    grid-area: three;
  }

  & .item4 {
    grid-area: four;
  }

  & .item5 {
    grid-area: five;
  }

  & .item6 {
    grid-area: six;
  }

  & .item7 {
    grid-area: seven;
  }

  & h3 {
    font-weight: bold;
  }
}
