.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  & article {
    display: grid;
    row-gap: 12px;
  }

  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
}
